<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softfactory.core.dao.UserRoleMapper">

	<resultMap type="com.softfactory.pojo.Role" id="user-role-result">
		<id property="id" column="ID" />
		<result property="name" column="NAME" />
		<result property="descn" column="DESCN" />
		<result property="code" column="CODE" />
	</resultMap>

	<sql id="pageSQLHead">
		select ID,NAME,CODE,DESCN from
		(select row_number() over(
	</sql>

	<sql id="orderBy">
		<if test="sort != null and order != null">
			order by
			<choose>
				<when test="sort == 'id'">ID</when>
				<when test="sort == 'name'">NAME</when>
				<when test="sort == 'code'">CODE</when>
				<when test="sort == 'descn'">DESCN</when>
			</choose>

			<if test="order == 'asc'">asc</if>
			<if test="order == 'desc'">desc</if>
		</if>
	</sql>

	<sql id="WhereCase">
		<where>
			1=1
			<if test="name != null and name != ''">
				and NAME LIKE #{name}
			</if>
			<if test="code != null and code != ''">
				and CODE LIKE #{code}
			</if>
			<if test="descn != null and descn != ''">
				and DESCN LIKE #{descn}
			</if>
			<if test='authorize != null and authorize == "1"'>
				and ID in (select ROLE_ID from SYS_USER_ROLE where
				USER_ID=#{userId})
			</if>
			<if test='authorize != null and authorize == "0"'>
				and ID not in (select ROLE_ID from SYS_USER_ROLE where
				USER_ID=#{userId})
			</if>
		</where>
	</sql>

	<sql id="pageSQLFoot">
    <![CDATA[ ) where rn > #{pageno} and rn <= #{pagesize} ]]>
	</sql>

	<select id="findPager" resultMap="user-role-result">
		<include refid="pageSQLHead" />
		<include refid="orderBy" />
		) rn,r.* from SYS_ROLES r
		<include refid="WhereCase" />
		<include refid="pageSQLFoot" />
	</select>


	<select id="findPagerTotal" resultType="long">
		select count(id) from SYS_ROLES
		<include refid="WhereCase" />
	</select>
</mapper>